body{
    margin-top: 15vh;
    padding: 0px;
}
.container{
    text-align: center;
}
.logo img{
    height: 20vh;
    margin: 4vh;
}
.main{
    display: flex;
    align-items: center;
}
.button-alert{
    width: 30vw;
    margin: 0px auto;
    background-color: #0e5e8c;
    color: white;
}